
<div class="cui-utils-content">
	<div class="container">
		<div id='literature' data-behaviour="vue"></div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		startLiterature()
	})
</script>