<%= render_existing @view_module, "breadcrumbs." <> @view_template, assigns %>
<%= render MyHiveWeb.SharedView, "_flash.html", assigns %>
<main role="main" class="container">
  <%= @inner_content %>
</main>
