<%= render_existing @view_module, "breadcrumbs." <> @view_template, assigns %>
<main role="main" class="container">
  <%= render MyHiveWeb.SharedView, "_flash.html", assigns %>
  <%= render @view_module, @view_template, assigns %>
</main>
