<main role="main" class="container">
  <p class="alert alert-success" id='alert-info' role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" id='alert-error' role="alert"><%= get_flash(@conn, :error) %></p>
  <%= render @view_module, @view_template, assigns %>
</main>