<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MyHive</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
   <body>
    <nav>
      <div class="nav-wrapper primary-dark-color">
        <a href="/" class="brand-logo">myHive</a>
     
        <!-- Dropdown Structure User actions -->
        <ul id="user-actions" class="dropdown-content">
          <li><%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete %></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= if signed_in?(@conn) do %>
              <li><a href='#' >Some place</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="user-actions"> <%= @current_user.first_name %> <i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
        </ul>
      </div>
    </nav>

    <main>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class='container'>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
