<!DOCTYPE html>
<html lang="en">
  <%= render MyHiveWeb.SharedView, "_header.html", assigns %>
  <body class="cui-config-borderless cui-menu-colorful cui-menu-left-shadow">
    <div class="cui-initial-loading"></div>
      <div class="cui-layout cui-layout-has-sider">
        <%= render MyHiveWeb.SharedView, "_menu_right.html", assigns %>
        <%= render MyHiveWeb.SharedView, "_menu_left.html", assigns %>
        <div class="cui-layout">
          <div class="cui-layout-header">
            <%= render MyHiveWeb.SharedView, "_top_bar.html", assigns %>
        </div>
        <div class="cui-layout-content">
          <div id="toast-notification-container"
            aria-live="polite" aria-atomic="true" style="position: absolute; right: 0; z-index: 100001">
            </div>
          <%= @inner_content %>
        </div>
        <div class="cui-layout-footer">
          <%= render MyHiveWeb.SharedView, "_footer.html", assigns %>
        </div>
      </div>
    </div>
  </body>
</html>
