
<div class="cui-blog-feed">
  <div class="row">
    <div class="col-lg-8">
      <main class="cui-blog-feed-postbar">
        <%= render "_post_full.html", assigns %>
      </main>
      <%#= render "_pagination.html" %>
    </div>
    <div class="col-lg-4">
      <%= render "_sidebar.html", assigns %>
    </div>
  </div>
</div>
