<div class='cui-utils-content'>
  <div class="row">
    <div class="col-xl-12">
      <div class="card" style="padding: 0.1rem !important">
        <div class='card-body'>
          <div id="shared-files" data-behaviour="vue"></div>
        </div>
      </div>
    </div>
  </div>
</div> 