<div style='color: gray; opacity: 0.6; padding-left: 0px; width: 500px; margin: auto;font-family: "Times", sans-serif; font-size: 10px; margin-left: 60px; margin-right:60px'>
McCollum Consultants Limited, Registered Office: 200 Drake Street, Rochdale, OL16 1PJ Registered in England & Wales No: 11365662. VAT Reg. No: GB 298 0502 85
</div>