<%= if show_inbox?(@current_user.id) do %>
	<div id="email-inbox">
		<div class='spacer email-toggle' style='display: none'> 
			<p class="email-toggle-toggle__text">Inbox</p>
		</div>
	</div>
<% end %>