<div class="cui-login-footer text-center">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item"><a href="javascript: void(0);">Terms of Use</a></li>
      <li class="active list-inline-item"><a href="javascript: void(0);">Compliance</a></li>
      <li class="list-inline-item"><a href="javascript: void(0);">Confidential Information</a></li>
      <li class="list-inline-item"><a href="javascript: void(0);">Support</a></li>
      <li class="list-inline-item"><a href="javascript: void(0);">Contacts</a></li>
    </ul>
  </div>