<div class="cui-login-footer text-center">
  <ul class="list-unstyled list-inline">
        <!--<img src="<%= Routes.static_path(@conn, "/images/apple.png") %>" width="64" height="64"></a></li>
      li class="active list-inline-item"><a href="javascript: void( !-->
  </ul> 
</div>