<div class="cui-menu-right">
  <div class="cui-menu-right-inner">
    <div class="cui-menu-right-header">
      <span class="icmn-cross pull-right cui-menu-right-action-toggle"><!-- --></span>
      Right panel
    </div>
    <div class="cui-menu-right-content">
     
     
    </div>
  </div>
</div>
