<div class="cui-menu-right-inbox">
  <div class="cui-menu-right-inner">
    <div class="cui-menu-right-header">
      <span class="icmn-cross pull-right cui-menu-right-action-toggle-inbox"></span>
			<h4>Case email inbox</h4>
    </div>
    <div class="cui-menu-right-content">
     	<div id="emails-inbox" data-behaviour="vue"></div>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(function(){
  startInbox()
})
</script>