<div class='cui-utils-content'>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class='card-body'>
          <div id='calendar' data-behaviour='vue'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(function(){
  window.startCalendar()
})
</script>
