<nav class="cui-breadcrumbs cui-breadcrumbs-bg">
  <span class="font-size-16 d-block">
      <strong>Chat</strong>
      <small class="text-muted">where my-hive conversations happen</small>
    </span>
</nav>
