<p>Dear Sirs,</p>

<p>Please find attached the abbreviated CV of 
<strong><%= MyHive.Accounts.User.field_by_name(@expert, "Name").field_value %></strong>.</p>


<p>Please do not hesitate to contact me should you need assistance from any of our other experts.</p>

<p>Kind regards,</p>

<p><%= @sender.first_name %>&nbsp;<%= @sender.last_name %></p>