form#medico-legal-case-update-form .cui-utils-control-checkbox,
form#medico-legal-case-form .cui-utils-control-checkbox {
  width: 100px;
  max-width: 100px;
  float: left;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }
