@media (min-width: 640px) and (max-width: 768px) {
    .timeline-container {
        width: inherit;
        min-width: 400px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .timeline-container {
        width: inherit;
        min-width: 550px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .timeline-container {
        width: inherit;
        min-width: 750px;
    }
}

@media (min-width: 1280px) {
    .timeline-container {
        width: inherit;
        min-width: 800px;
    }
}

.main-timeline {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline:before {
    content: '';
    background-color: #415b77;
    height: 100%;
    width: 20px;
    border-radius: 20px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0.2;
    margin-top: 40px
}

.main-timeline .timeline {
    width: 50%;
    padding: 0 60px 0 0;
    margin: 0 10px -25px 0;
    float: left;
}

.main-timeline .timeline-content {
    background: #fff;
    text-align: center;
    min-height: 45px;
    padding: 0 0 0px;
    border-radius: 15px;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-icon {
    color: #fff;
    background-color: #BE2625;
    font-size: 22.5px;
    line-height: 46.5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -86px;
}

.main-timeline .title {
    color: #fff;
    background-color: #BE2625;
    font-size: 11px;
    font-weight: bold !important;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0 0 10px;
    border-radius: 15px;
    border: 4px solid #fff;
}

.main-timeline .description {
    color: #333;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-size: 11px;
    margin: 0 15px 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    padding: 0 0 0 60px;
    margin: 0 0 -25px 10px;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: -86px;
}

.main-timeline .timeline.started .timeline-icon,
.main-timeline .timeline.started .title {
    background-color: #EEB422;
    ;
}

.main-timeline .timeline.completed .timeline-icon,
.main-timeline .timeline.completed .title {
    background-color: #0ca404bb;
}


/*.main-timeline .timeline:nth-child(4n+4) .timeline-icon,
.main-timeline .timeline:nth-child(4n+4) .title {
    background-color: #008AD5;
}
*/

@media screen and (max-width:767px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        padding: 0 86px 0 0;
        margin: 0 0 20px 0;
    }
    .main-timeline .timeline:nth-child(even) {
        padding: 0 0 0 86px;
    }
}

@media screen and (max-width:479px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        padding: 86px 0 0;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        transform: translateY(0) translateX(-50%);
        top: -86px;
        left: 50%;
        right: auto;
    }
}

div.timeline-container {
    position: absolute;
    display: flex;
    top: 90px;
    left: 22%;
}

div.timeline {
    object-fit: cover;
}