import Config

# Change these identifiers to ones specific to your application
config :mix_deploy_example, MixDeployExample.Repo,
  username: "myhive",
  password: "myhive",
  database: "myhive2_prod",
  hostname: "localhost",
  port: 5432,
  ssl: true,
  pool_size: 15

config :mix_deploy_example, MixDeployExampleWeb.Endpoint,
  secret_key_base: "zHBxgv3kvq3eJjJzBa8u"
