@import 'node_modules/bootstrap/dist/css/bootstrap.css';
@import './css/datatables.min.css';
@import 'node_modules/select2/dist/css/select2.min.css';
@import './css/style.scss';
@import 'node_modules/ladda/dist//ladda-themeless.min.css';
@import 'node_modules/bootstrap-select/dist/css/bootstrap-select.min.css';
@import 'node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';
@import 'node_modules/fullcalendar/dist/fullcalendar.min.css';
@import 'node_modules/bootstrap-sweetalert/dist/sweetalert.css';
@import 'node_modules/summernote/dist/summernote.css';
@import 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import 'node_modules/c3/c3.min.css';
@import 'node_modules/chartist/dist/chartist.min.css';
@import 'node_modules/nprogress/nprogress.css';
@import 'node_modules/jquery-steps/demo/css/jquery.steps.css';
@import 'node_modules/dropify/dist/css/dropify.min.css';
@import './css/linearicons.css';
@import './css/iconmoon.css';
@import 'node_modules/bootstrap4-toggle/css/bootstrap4-toggle.min.css';
@import 'node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';
@import 'node_modules/uppy/dist/uppy.min.css';
@import 'node_modules/@uppy/core/dist/style.min.css';
@import 'node_modules/@uppy/progress-bar/dist/style.min.css';
@import 'node_modules/@uppy/dashboard/dist/style.min.css';
@import 'css/file-manager-search.css';
$pswp__assets-path: "node_modules/photoswipe/src/css/default-skin/";
@import "node_modules/photoswipe/src/css/main.scss";
@import "node_modules/photoswipe/src/css/default-skin/default-skin.scss";

/*  DATATABLES */
table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  line-height: 18px !important;
}

.container-fluid.dt-bootstrap4 {
  padding: 0;
}
/* TABLE */
.table thead th {
  border-bottom: 1px solid #e4e9f0;
  outline: none !important;
}

.table thead th:focus {
  background: #e4e9f0;
}

.table td,
.table th {
  border-color: #e4e9f0;
}

.table td:focus,
.table th:focus {
  background-color: #e4e9f0;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table.table-hover tbody tr:hover {
  background: #f2f4f8;
}

.table tr.active,
.table th.active {
  background: #f2f4f8;
}

.table .thead-inverse th {
  background: #222034;
}

.table .thead-default th {
  background: #f2f4f8;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background: #f2f4f8;
}

.table.table-vertical-middle td,
.table.table-vertical-middle th {
  vertical-align: middle;
}

.table-inverse {
  color: #b8beca;
}

.table-inverse thead th {
  border-bottom-color: #393749;
  color: #fff;
}

.table-inverse th,
.table-inverse td {
  border-top-color: #393749;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  background: #222034;
}

.table-inverse th:focus,
.table-inverse td:focus,
.table-inverse thead th:focus {
  background: #222034;
}

.table-inverse tr.active,
.table-inverse th.active {
  background: #eef0f4;
}
