<div class="cui-utils-content">
  <div class='card'>
    <div class="card-body">
      <div class="cui-add-post">
        <div class="container">
          <%= render "_form.html", assigns %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(function() {
  EmailTemplate.init()
  EmailTemplate
    .initEditorWithVariables('<%= @template.id %>', Fn.decodeHtml('<%= @template.body %>'))
})
</script>