<H1>BLANK PAGE</H1>
<script type='text/javascript'>
  $(function(){
    <%= if Map.has_key?(assigns, :jwt) && assigns.jwt do %>
    localStorage.setItem('jwt', '<%= assigns.jwt %>')
    <% end %>
  })
</script>
