 <table class='thead-default table-hover table dataTable' 
  data-url='/api/dt/v1/users' 
  style='width: 100%'
  id='users-datatable'>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Roles </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script type='text/javascript'>
</script>