<%= if is_nil(@user.user_signature) do %>
  <div class='alert alert-info'>
    <i class='fal fa-info-circle'></i>&nbsp;
    Please upload a signature image file.
  </div>
<% else %>
  <div style="position: relative; width: 100%; max-height: 500px"
    class='mb-5 pb-5'>
    <img src='<%= MyHive.Accounts.UserSignature.signature64(@user.user_signature)%>' id="signature-image-file" 
		style='max-width: 100%' class='mb-5'/>'
   <%= render "_edit_buttons.html" %>
  </div>
<% end %>
