<div class='card'>
  <div class='row'>
    <div class='col-8'>
      <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@socket, :update, @user)) %>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $(function(){
    UI.setup()
    $(document).on("phx:update",UI.setup);
  })
</script>