<div class='card'>
  <div class='card-header'>
  <a href="/" target="_blank" class="btn btn-sm btn-primary ml-2">
    Add New&nbsp;<i class="fa fa-user-plus"></i>
  </a>
  <br>
  <span class="cui-utils-title">
    <strong>System users</strong> 
  </span>
  </div>  
  <div class='card-body'>
    <div class='row'>
        <%= render MyHiveWeb.UserView, "_table.html", assigns %>
    </div>
  </div>
</div>
<script>
  $(function(){
    Users.init()
  })
</script>