<div class='card'>
  <div class='card-header'>
    <span class='cui-utils-title'>Add new myHive user</span>
  </div>
  <div class='row'>
    <div class='col-8'>
      <p class='text-muted ml-5'>All fields are mandatory</p>
      <%= render "form.html", assigns %>
    </div>
  </div>
</div>